.App {
  font-family: sans-serif;
  padding: 35px;
  /* background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center / cover no-repeat fixed; */
}
.filter-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.dropdown {
  margin: 10px;
  z-index: 10000;
  width: 150px;
  position: relative;
}
.dropdown p{
  margin: 0;
  font-size: 14px;
  color: #8b8b8b;
}
/* .dropdown,
.dropdown * {
  z-index: 10;
} */
/* .dropdown .dropdown-btn {
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  color: grey;
  font-weight: 500;
} */

/* .divider{
    align-self: stretch;
    width: 1px;
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
} */
/* .dropdown-content {
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
} */
/* .dropdown-content .item {
  padding: 10px;
  cursor: pointer;
} */
/* .dropdown-content .item:hover {
  background: rgb(196, 233, 247);
} */

button {
  z-index: -1;
  display: block;
  width: 500px;
  margin: 0 auto;
}


.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 38px;
}

.card{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  max-width: 360px;
  height: 615px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 15px;
  padding: 10px;
  background-color: white;
  overflow-y: hidden;
  transition: transform .3s;
}
.card:hover{
  transform: scale(1.01);

}
.jobpost-date{
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}
.jobpost-date p{
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
  padding: 3px 8px;
  font-size: 10px;
}
.job-section{
  padding: 8px 16px;
}
.job-profile{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}
.job-profile img{
  height: 80%;
  width: 15%;
  object-fit: contain;
  margin-right: 10px;
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.company-name{
  display: flex;
  justify-content: flex-start;
  font-size: 13px;
  font-weight: 600; 
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}
.company-job-role{
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 1.5;
}
.company-location{
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}
.company-desc{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.company-desc p{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}
.salary-details p{
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;
  color: rgb(77, 89, 106);
  line-height: 1.43;
}
.role-desc span{
  display: flex;
  justify-content: flex-start;
  white-space: wrap;
  font-size: 14px;
  color: rgb(77, 89, 106);
  height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.company-min-exp{
  display: flex;
  justify-content: flex-start;
  font-size: 13px;
  font-weight: 600; 
  letter-spacing: 1px;
  margin: 4px 0;
  margin-top: 14px;
  color: #8b8b8b;
}

.card-btns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* padding: 8px 12px; */
}

.card-btns div{
  display: flex;
  padding: 12px 18px;
  justify-content: center;
  border-radius: 8px;
}
.apply-btn{
  background-color: #55efc4;
  margin-bottom: 6px;
}
.referral-btn{
  color: white;
  background-color: #4943da;
}
.view-more{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: -12px;
  cursor: pointer;
}
.view-more a{
  font-size: 14px;
  text-decoration: none;
  color: blue;
}

.loader{
  position: absolute;
  bottom: 4px;
  left: 40%;
}

.search-box-container{
  display: flex;
  flex-direction: row;
  padding: 10px;
  min-height: 38px;
}
.search-box{
  padding: 10px;
  border-radius: 8px;
  
}
.search-btn{
  padding: 10px;
  width: auto;
  border-radius: 8px;
}